In [1]:
a=10

In [2]:
print(a)

10

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 44EB-2E45

 Directory of C:\Users\INTEL

12/27/2016  01:22 AM    <DIR>          .
12/27/2016  01:22 AM    <DIR>          ..
12/26/2016  10:54 PM    <DIR>          .anaconda
12/27/2016  01:10 AM    <DIR>          .ipynb_checkpoints
12/27/2016  12:39 AM    <DIR>          .ipython
12/27/2016  01:02 AM    <DIR>          .jupyter
12/27/2016  12:41 AM    <DIR>          .matplotlib
08/07/2016  10:29 PM    <DIR>          .oracle_jre_usage
12/27/2016  12:39 AM    <DIR>          .spyder-py3
12/26/2016  09:26 PM    <DIR>          Anaconda3
09/17/2015  02:33 PM    <DIR>          Contacts
12/26/2016  09:16 PM    <DIR>          Creative Cloud Files
12/26/2016  09:08 PM    <DIR>          Desktop
12/26/2016  09:26 PM    <DIR>          Documents
12/27/2016  12:49 AM    <DIR>          Downloads
09/17/2015  02:33 PM    <DIR>          Favorites
09/17/2015  02:45 PM    <DIR>          Intel
10/05/2016  06:16 AM    <DIR>          Links
09/17/2015  02:33 PM    <DIR>          Music
12/26/2016  09:19 PM    <DIR>          OneDrive
06/29/2016  09:18 PM    <DIR>          OneDrive (2).old
04/26/2016  01:33 PM    <DIR>          OneDrive.old
08/04/2016  06:38 PM    <DIR>          Pictures
09/17/2015  02:33 PM    <DIR>          Saved Games
10/05/2016  06:52 AM    <DIR>          Screenshots
09/17/2015  02:34 PM    <DIR>          Searches
07/13/2016  10:06 PM    <DIR>          sne
07/06/2016  09:28 PM    <DIR>          Tracing
12/27/2016  01:09 AM    <DIR>          Untitled Folder
12/27/2016  01:10 AM    <DIR>          Untitled Folder 1
12/27/2016  01:22 AM             1,032 Untitled.ipynb
12/26/2016  09:12 PM    <DIR>          Videos
               1 File(s)          1,032 bytes
              31 Dir(s)  42,921,787,392 bytes free

In [5]:
x=1
y=4
z=y/(1-x)

ZeroDivisionError: division by zero

In [7]:
message = 'The IPython notebook is great!'
# note: the echo command does not run on Windows, it's a unix command.
!echo $message

The IPython notebook is great!

In [8]:
import numpy
numpy.random.

SyntaxError: invalid syntax (<ipython-input-8-28daab75050a>, line 2)

In [9]:
>>> the_world_is_flat = 1
>>> if the_world_is_flat:
...     print("Be careful not to fall off!")

Be careful not to fall off!

In [10]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [11]:
data.describe()

          ounces
count   9.000000
mean    6.055556
std     2.855307
min     3.000000
25%     4.000000
50%     6.000000
75%     7.500000
max    12.000000

In [12]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [2, 4, 13, 7, 8.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     2.0
1     a     4.0
2     a    13.0
3     b     7.0
4     b     8.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [13]:
data.describe()

          ounces
count   9.000000
mean    6.277778
std     3.345810
min     2.000000
25%     4.000000
50%     6.000000
75%     8.000000
max    13.000000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

In [16]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     7.0
5     b     8.0
4     b     8.5
0     a     2.0
1     a     4.0
2     a    13.0

In [17]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})
In [20]:

SyntaxError: invalid syntax (<ipython-input-17-7dbaf693f8e6>, line 3)

In [18]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})
In [20]:data.sort_values(by='k2')
data

SyntaxError: invalid syntax (<ipython-input-18-f51fd4282360>, line 3)

In [19]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [20]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

KeyError: 'food'

In [21]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data
Out[8]:

SyntaxError: invalid syntax (<ipython-input-21-0c4a97195b26>, line 3)

In [22]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

KeyError: 'food'

In [23]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [24]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [25]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [26]:
data['animal2'] = data.apply(meat2animal,axis='columns')
data

          food  ounces  animal animal2
0        bacon     4.0     pig     pig
1  pulled pork     3.0     pig     pig
2        bacon    12.0     pig     pig
3     Pastrami     6.0     cow  salmon
4  corned beef     7.5     cow     cow
5        Bacon     8.0     pig  salmon
6     pastrami     3.0     cow     cow
7    honey ham     5.0     pig     pig
8     nova lox     6.0  salmon  salmon

In [27]:
data['animal2'] = data.apply(meat2animal,axis='rows')
data

KeyError: ('food', 'occurred at index food')

In [28]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})

In [29]:
data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [30]:
data.drop_duplicates()  # by default, duplicate is defined by all columns

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4

In [31]:
data.drop_duplicates(subset='k1')  # duplicate in column k1 only

    k1  k2
0  one   3
3  two   3

In [32]:
data.drop_duplicates(subset='k2')  # duplicate in column k2 only

    k1  k2
0  one   3
1  one   2
2  one   1
5  two   4

In [33]:
import pandas as pd
import pandas as np
data = pd.Series([1., -99., 2., -999., -1000., 3.])
data

0       1.0
1     -99.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [34]:
data.replace(-999, np.nov, inplace=True)
data

NameError: name 'np' is not defined

In [35]:
data.replace(-999, np.nan, inplace=True)
data

NameError: name 'np' is not defined

In [36]:
data.replace(-99, np.nan, inplace=True)
data

NameError: name 'np' is not defined

In [37]:
data.replace(-999, nan, inplace=True)
data

NameError: name 'nan' is not defined

In [38]:
data.replace(-999., np.nan, inplace=True)
data

NameError: name 'np' is not defined

In [39]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [40]:
data.replace(-999, np.nan, inplace=True)
data

NameError: name 'np' is not defined

In [41]:
data.replace(-999, np.nan, inplace=True)
data

NameError: name 'np' is not defined

In [43]:
 import numpy as np
data.replace(-999, np.nan, inplace=True)
data

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [44]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [46]:
import pandas as pd
data = pd.DataFrame(np.arange(8).reshape((2, 4)),index=['Ohio', 'Colorado'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [48]:
data.index.map(str.upper)

array(['OHIO', 'COLORADO'], dtype=object)

In [49]:
data.index = data.index.map(str.upper)
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7

In [50]:
data.index.map(str.lower)

array(['ohio', 'colorado'], dtype=object)

In [52]:
data.index = data.index.map(str.lower)
data

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7

In [54]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'data1' : np.random.randn(3),
                   'data2' : np.random.randn(3)})

df.assign(ratio = df['data1'] / df['data2'])

      data1     data2     ratio
0 -0.014319 -1.196296  0.011969
1  1.058128 -1.793476 -0.589987
2  0.034965 -0.133108 -0.262678

In [55]:
import pandas as pd

In [57]:
pd.read_csv()

TypeError: parser_f() missing 1 required positional argument: 'filepath_or_buffer'

In [59]:
import os
for file in os.listdir("/mydir"):
    if file.endswith("snehal.txt"):
        print(file)

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/mydir'

import pandas as pd

In [60]:
import pandas as pd

In [63]:
d=pd.read_csv("C:\Users\INTEL\Downloads\ml-1m\ml-1m\movies.excel",sep=" ")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-63-f3d7ec54c23f>, line 1)

In [67]:
import pandas as pd
data=pd.read_excel("C:\Users\INTEL\Downloads\ml-1m", sheetname="movies")
data

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-67-520b964d7919>, line 2)